In [2]:
dic = {}

In [3]:
for a in range(2):
    dic['Task' + str(a+1)] = input("Enter task")

In [4]:
print(dic)

{'Task1': 'Read ', 'Task2': 'write'}

In [5]:
# Advance dictionaries

In [6]:
list_of_dict = [
   {'first name': 'David',
 'Last name ': 'Elliot',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'} ,
 {'first name': 'Hassan',
 'Last name ': 'Khan',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'},
 {'first name': 'Juice',
 'Last name ': 'WRLD',
 'address': 'Burns road',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'}
]

In [7]:
personal_bio = {"First_name":"Qasim",
                "Last name" :"Hassan",
                "address":"karachi,Pakistan"}

In [8]:
personal_bio.keys()

dict_keys(['First_name', 'Last name', 'address'])

In [9]:
personal_bio.values()

dict_values(['Qasim', 'Hassan', 'karachi,Pakistan'])

In [15]:
for key,value in personal_bio.items():
    print(f"Keys is {key} and value is {value}")

Keys is First_name and value is Qasim
Keys is Last name and value is Hassan
Keys is address and value is karachi,Pakistan

In [20]:
list(personal_bio.items())[0] # dict_items is uhashable

('First_name', 'Qasim')

In [23]:
bio_list = [personal_bio]

In [24]:
bio_list

[{'First_name': 'Qasim', 'Last name': 'Hassan', 'address': 'karachi,Pakistan'}]

In [30]:
for a in range(len(list_of_dict)):
    print(list_of_dict[a]['address'])

Wall Street
Wall Street
Burns road
karachi,Pakistan

In [28]:
list_of_dict.append(personal_bio)

In [29]:
list_of_dict

[{'first name': 'David',
  'Last name ': 'Elliot',
  'address': 'Wall Street',
  'age': 17,
  'Phone Number': '+923328829273',
  'City': 'LA'},
 {'first name': 'Hassan',
  'Last name ': 'Khan',
  'address': 'Wall Street',
  'age': 17,
  'Phone Number': '+923328829273',
  'City': 'LA'},
 {'first name': 'Juice',
  'Last name ': 'WRLD',
  'address': 'Burns road',
  'age': 17,
  'Phone Number': '+923328829273',
  'City': 'LA'},
 {'First_name': 'Qasim', 'Last name': 'Hassan', 'address': 'karachi,Pakistan'}]

In [31]:
list_of_dict

[{'first name': 'David',
  'Last name ': 'Elliot',
  'address': 'Wall Street',
  'age': 17,
  'Phone Number': '+923328829273',
  'City': 'LA'},
 {'first name': 'Hassan',
  'Last name ': 'Khan',
  'address': 'Wall Street',
  'age': 17,
  'Phone Number': '+923328829273',
  'City': 'LA'},
 {'first name': 'Juice',
  'Last name ': 'WRLD',
  'address': 'Burns road',
  'age': 17,
  'Phone Number': '+923328829273',
  'City': 'LA'},
 {'First_name': 'Qasim', 'Last name': 'Hassan', 'address': 'karachi,Pakistan'}]

In [55]:
list_of_dict = {0:{'first name': 'David',
 'Last name ': 'Elliot',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'}} ,
{1:{'first name': 'Hassan',
 'Last name ': 'Khan',
 'address': 'Wall Street',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'}},
{2:{'first name': 'Juice',
 'Last name ': 'WRLD',
 'address': 'Burns road',
 'age': 17,
 'Phone Number': '+923328829273',
 'City': 'LA'}
}

{2: {'first name': 'Juice',
  'Last name ': 'WRLD',
  'address': 'Burns road',
  'age': 17,
  'Phone Number': '+923328829273',
  'City': 'LA'}}

In [56]:
for i in range(len(list_of_dict)):
    print(list_of_dict[i][i]['address'])

Wall Street

In [57]:
list_of_dict

({0: {'first name': 'David',
   'Last name ': 'Elliot',
   'address': 'Wall Street',
   'age': 17,
   'Phone Number': '+923328829273',
   'City': 'LA'}},)

In [58]:
saylani = {"python":{
    "timings" : "10 to 12",
    "Instructor" : "Ayan"

},
"Data Engineering":{
    "Timings" : "TTS",
    "Instructor" : "Dawood"
}}

In [63]:
for course in saylani.keys():
    print(f"Instructor for '{course}' course: {saylani[course]['Instructor']}")

Instructor for 'python' course: Ayan
Instructor for 'Data Engineering' course: Dawood

In [72]:
for course_details in saylani.values():
    # instructor_name = course_details["Instructor"]
    # print(f"Instructor for '{instructor_name}' course: {instructor_name}")
    print(course_details)
    print(course_details['Instructor']) # Slicing using values

{'timings': '10 to 12', 'Instructor': 'Ayan'}
Ayan
{'Timings': 'TTS', 'Instructor': 'Dawood'}
Dawood

In [73]:
for course, details in saylani.items():
    # instructor_name = details["Instructor"]
    # print(f"Instructor for '{course}' course: {instructor_name}")
    print(saylani[course]['Instructor']) # Slicing using keys

Ayan
Dawood

In [74]:
for i in range(len(saylani)):
    course_name = list(saylani.keys())[i] 
    print(saylani[course_name]["Instructor"])

Ayan
Dawood

# Functions

In [75]:
# type() any variable use pass will be printed on console

In [76]:
# Functions are like a black box which perform certain actions

In [77]:
# input --> function (operation) ----> desired result based on operations

In [81]:
# Advantages 
# Code reusability

In [80]:
'''
syntax : 
def <func_name()>:
    print("Hello")
'''

'\nsyntax : \ndef <func_name()>:\n    print("Hello")\n'

In [78]:
def saylani():
    print("saylani")

In [79]:
saylani()

saylani

In [82]:
# create a func sum

In [86]:
# Passing parameters in function
def sum(a,b):
    return a + b

In [84]:
ans = sum(2,4)

In [85]:
print(ans)

6

In [97]:
def kelvin(temp,kelvin = 273):
    
    print(temp + kelvin)

In [99]:
kelvin(45)

318

In [100]:
def kelvin(temp,kelvin = 273):# just swapped parameters
    
    print(temp + kelvin)

In [101]:
def greetings(fname,lname,greetings="Welcome"):
    print(f"{fname} {lname} {greetings}")

In [103]:
greetings(fname="Mehdi",lname="Abbas") # key word argument

Mehdi Abbas Welcome

In [1]:
dic = {
  0:{
    "timings":"MMF",
    "Instructors":"Mohan",
  },
  1:{
    "timings":"TTH",
    "Instructors":"Ram",
  }
}

for i in dic : 
  dic[i]['Subject'] = input("Enter your subject")

print(dic)

{0: {'timings': 'MMF', 'Instructors': 'Mohan', 'Subject': 'Maths'}, 1: {'timings': 'TTH', 'Instructors': 'Ram', 'Subject': 'Computer'}}

In [2]:
for key ,values in dic.items():
    print(key,values)

0 {'timings': 'MMF', 'Instructors': 'Mohan', 'Subject': 'Maths'}
1 {'timings': 'TTH', 'Instructors': 'Ram', 'Subject': 'Computer'}