<a href="https://colab.research.google.com/github/Mehdi-Abbas-Arduino/Extended-SMIT/blob/master/Unit%2007/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Revision

In [10]:
def calc_tax(sales_total,tax_rate = .04):
  tax = sales_total * tax_rate
  print(tax)

calc_tax(100, 0.05)

5.0

In [7]:
def payment():
  n = int(input("How many defaulters = "))
  for i in range(1,n+1):
    student_name = input("Enter name = ")
    total = 0
    for x in range(1,4):
      payment = int(input("Enter payment = "))
      total += payment
      print(total)

In [8]:
payment()

How many defaulters = 2
Enter name = Mehdi
Enter payment = 200000
200000
Enter payment = 30000
230000
Enter payment = 50000
280000
Enter name = Izhan
Enter payment = 20000
20000
Enter payment = 20000
40000
Enter payment = 50000
90000

In [9]:
# Returning functions

In [11]:
def calc_tax(sales_total,tax_rate = .04):
  tax = sales_total * tax_rate
  return tax

calc = calc_tax(100, 0.05)
print(calc)

5.0

# Function as Variables

In [17]:
def calc_tax(sales_total,tax_rate = .04):
  tax = sales_total * tax_rate
  print(tax)
calc_tax(1000, 0.11) # It is printing not returning

110.0

In [15]:
# When using print() no value in tax

In [18]:
def calc_tax(sales_total,tax_rate = .04):
  tax = sales_total * tax_rate
  # print(tax)

print(calc_tax(100, 0.05))

None

In [20]:
import time
start = time.time()
end = time.time()
print(end - start)

4.291534423828125e-05

In [22]:
def calc_tax(sales_total,tax_rate = .04):
  tax = sales_total * tax_rate
  return tax

tax = calc_tax(100, 0.05)

In [23]:
tax

5.0

In [25]:
customers = {
    0: {'first name': 'David',
        'last name': 'Elliott',
        'address': '4803 Wellesley St.',
        'city': 'LA'},
    1: {'first name': 'Qasim',
        'last name': 'Hassan',
        'address': 'Near SMIT',
        'city': 'Karachi'},
    2: {'first name': 'Hassan',
        'last name': 'Khan',
        'address': 'Johar town',
        'city': 'Lahore'}
}

In [32]:
def check (dic):
  id = int(input("Which id you want to access = "))
  element = input("Which element to access = ")
  return dic[id][element]

In [33]:
x = check(customers)

Which id you want to access = 0
Which element to access = address

In [34]:
x

'4803 Wellesley St.'

In [35]:
def customer_details(dic,customer,details):
  return dic[customer][details]

In [37]:
x = customer_details(customers,0,'address')

In [38]:
x

'4803 Wellesley St.'

In [39]:
# Dealing with unknown arguments

In [57]:
def winner(winner_name,winner_score,**kwargs):
  print(f"{winner_name} is the champion with the score {winner_score}")
  for kwarg,value in kwargs.items():
    print(kwarg,value)

In [58]:
winner("Mehdi",40000,injuries = True,overtime=False)

Mehdi is the champion with the score 40000
injuries True
overtime False

In [51]:
# Kwargs give dictionary
# args give tuple

In [63]:
def winner(winner_name,winner_score,*args):
  print(f"{winner_name} is the champion with the score {winner_score}")
  for a in args:
    print(a)
  print(args)

In [64]:
winner("Mehdi",6000,True,False,12,34,78)

Mehdi is the champion with the score 6000
True
False
12
34
78
(True, False, 12, 34, 78)

# Local & global variables
- global : acces with in functions too
- local : should have limited scope i.e , with i functions , it could only be acces using return

In [65]:
x = 'Hello'
def hello():
  x = 'Mehdi'
  print(x)

In [68]:
print(x)
hello()
print(x)

Hello
Mehdi
Hello

In [72]:
x = 'Hello'
def hello():
  global x
  x = "Mehdi"
  print(x)

In [73]:
print(x)
hello()
print(x)

Hello
Mehdi
Mehdi

In [82]:
global taxes
taxes = 0.02
def add():
  global a
  a = 5
  global b
  b = 10
  total = a + b
  tax = total * taxes
  return total , tax

In [84]:
x = add()
x

(15, 0.3)

In [87]:
global s
def function():
  s = "I Love SMIT"
  return s

function()

'I Love SMIT'

# Function within function

In [96]:
def func_total_sales(gulshan,dha,stadium):
  total = gulshan + dha + stadium
  def func_sales_after_tax(total_sales):
    return total_sales * 0.05
  return func_sales_after_tax(total)
func_total_sales(23,84,90)

9.850000000000001

# While loops
 - It's value is TRUE
 - when condition meets then make to False

In [1]:
clean_country = ['Pakistan','Bangladesh','Kenya','India']

In [3]:
user_input = input()
for country in clean_country:
  if user_input == country:
    print(f"{country} is clean ")

Pakistan
Pakistan is clean

In [7]:
user_input = ""
cities = []
while user_input != "q":
  user_input = input("Enter a city or q to quit = ")
  if user_input != 'q' :
    cities.append(user_input)
print(cities)

Enter a city or q to quit = Karachi
Enter a city or q to quit = Lahore
Enter a city or q to quit = Islamabad
Enter a city or q to quit = Quetta
Enter a city or q to quit = q
['Karachi', 'Lahore ', 'Islamabad', 'Quetta']

In [9]:
try:
  user_input = ""
  while user_input != "q":
    user_input = input("Enter a city or q to quit = ")
    if user_input != 'q' :
      for a in clean_country:
        if user_input == a :
          print("It is one of the cleanest cities")
          break
except:
    print("Error")

Enter a city or q to quit = q

In [11]:
while_cond = True
while while_cond:
  user_input = input("Enter the country we want to check = ")
  if user_input in clean_country:
    print(f"{user_input} is in the clean enviroment")
    while_cond = False

Enter the country we want to check = Pakistan
Pakistan is in the clean enviroment